.card {
    flex-direction: column-reverse;
}

body {
    height: 100%;
    background-image: url("../assets/images/switzerland.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.card-img {
    height: 250px;
    width: 250px;
}
footer{
    text-align: center;
}